<connectionStrings>
    <add name="DefaultConnection" connectionString="Data source=tcp:procureease.database.windows.net,1433;Initial Catalog=ProcureEase;user id=procureease_user;password=StrongPassword@1;MultipleActiveResultSets=True; " providerName="System.Data.SqlClient" />
    <add name="ProcureEaseEntities" connectionString="metadata=res://*/Models.ProcureEaseModel.csdl|res://*/Models.ProcureEaseModel.ssdl|res://*/Models.ProcureEaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:procureease.database.windows.net,1433;initial catalog=ProcureEase;user id=procureease_user;password=StrongPassword@1;MultipleActiveResultSets=True;Encrypt=True;Persist Security Info=False;TrustServerCertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
